<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <logger name="com.projectronin.kafka" level="WARN" />
    <logger name="org.apache.kafka.clients" level="ERROR" />
    <logger name="org.apache.kafka.streams" level="ERROR" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>