<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <logger name="com.projectronin.kafka" level="DEBUG" />
    <logger name="org.apache.kafka.clients" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>